.containerAll {
  width: 800px;
  margin: auto;
  margin-top: 220px;
}
.imgCertifiactions {
  width: 730px;
  margin: 10px;
}
.flexCertification {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.abuotBtn {
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
  width:90px;
  background-color: rgb(197, 64, 16);
  color: rgb(213, 213, 213);
  font-weight: bolder;
  cursor: pointer;
  margin-top: 30px;
}
