.containerForm {
  width: 740px;
  margin: auto;
  margin-top: 220px;
}

.containerNeb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.containerName,
.containerEmail {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #ebebeb;
}
.containerEmail {
  display: flex;
}

.containerMensaje {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input {
  height: 30px;
  font-size: 18px;
  text-align: center;
}

.textarea {
  height: 220px;
  margin: 14px;
  border-radius: 10px;
  width: 390px;
  margin: auto;
  background-color: #17191d;
  text-align: center;
  padding: 30px;
  color: white;
  
  font-size: 18px;
}
input {
  margin: auto;
  width: 89%;
  color: white;
  border-radius: 10px;
  height: 20px;
  background-color: #17191d;
}

.buton {
  background-color: rgb(197, 64, 16);
  color: white;
  margin-top: 10px;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.containerBtn {
  display: flex;
  justify-content: center;
}

.buton[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}
.backColor {
  background-color: #17191d;
  border: 2px solid rgb(197, 64, 16);
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  margin: auto;
}

.containerForm {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
