.containerForm {
  width: 740px;
  margin: auto;
  margin-top: 150px;
}

.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  height: 370px;
  gap: 10px;
  width: 300px;
  background-color: #17191d;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #6b7280;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: #e2e3e7d4;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid #e2e3e7;
  padding: 8px 14px;
  border-radius: 8px;

  width: 90%;
  height: 50px;
}

.input{
  background-color: #e2e3e7d1;
  margin-top: 5px;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 90%;
  resize: none;
  outline: 0;
  padding: 8px 14px;
  border: 1px solid #e2e3e7;
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(197, 64, 16);
  color: #e2e3e7;
  cursor: pointer;
}
    
.containerForm {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .containerForm {
    width: 100%;
    margin: auto;
    margin-top: 120px;
  }
  .form button{
    font-size: 18px;
    align-self:center;
  }
}