.containerForm {
  width: 740px;
  margin: auto;
  margin-top: 220px;
}

.containerNeb {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.containerName,
.containerEmail {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #ebebeb;
}
.containerEmail {
  display: flex;
}

.containerMensaje {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.input {
  border: 2px solid rgb(197, 64, 16);
  height: 30px;
  font-size: 18px;
  text-align: center;
}

.textarea {
  height: 220px;
  margin: 14px;
  border-radius: 10px;
  width: 390px;
  margin: auto;
  background-color: #17191d;
  text-align: center;
  padding: 30px;
  color: white;
  border: 2px solid rgb(197, 64, 16);
  font-size: 18px;
}
input {
  margin: auto;
  width: 60%;
  color: white;
  border-radius: 10px;
  height: 20px;
  background-color: #17191d;
}

.buton {
  width: 5.1rem;
  margin: auto;
  background-color: rgb(197, 64, 16);
  color: white;
  border: none;
  border-radius: 10px;
  height: 30px;
  font-size: 19px;
  margin-top: 10px;
}

.buton[disabled] {
  cursor: not-allowed;
  opacity: 0.7;
}

.containerForm {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
