/* Estilos container principal*/
.containerHeader {
  width: 740px;
  margin: auto;
  margin-top: 250px;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
}

/* Estilos para textos */
.title {
  margin-bottom: -10px;
  letter-spacing: -1px;
}

.colorTextCountry {
  font-size: 13px;
  margin-top: -10px;
}

.sizeText {
  width: 540px;
  font-size: 21px;
  margin-top: 15px;
}

/* estilos de iconos */

.flexIconCountry {
  display: flex;
  justify-content: flex-start;
}

.iconSize {
  width: 3%;
  height: 4%;
  margin-top: -10px;
  margin-right: 5px;
}

/*********************/

.imgSize {
  width: 188px;
  border-radius: 50%;
  border: 4px solid rgb(197, 64, 16);
  margin-top: 25px;
}

.btnPdf {
  text-decoration: none;
}

.containerHeader {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
