.socialMedia {
    display: flex;
   
    margin-right: 120px;
  }
  
  .iconsMediaSize {
    width: 20px;
 
   
    margin-right: 12px;
    padding: 3px;
  }
  
  .iconsMediaSize:hover {
    background-color: rgb(197, 64, 16);
     border-radius: 5px;
  }