.footer {
    background-color: #17191d;
    height: 50px;
    padding: 18px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }