.footer {
  background-color: #17191d;
  height: 60px;
  padding: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  align-items: center;
}

.contact {
  display: flex;
  margin-left: 100px;
}

.info {
  display: flex;
  align-items: center;
  margin-right: 30px;
  font-weight: bolder;
  letter-spacing: -1px;
}

.info:hover {
  color: white;
  border-radius: 5px;
}

.footer {
  animation: fade-in 1s ease-in;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1px;
  }

  .info {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 11px;
  }
  .footer {
    height: 36px;
  }
}
