:root {
  --title-size-h1: 40px;
  --title-size-h2: 30px;
  --title-size-h4: 17px;
  --text-color: rgb(143, 146, 152);
  --title-color: #e2e3e7d4;
}

body {
  font-family: monospace;
  background-color: #111213;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 7px;

}

body::-webkit-scrollbar-thumb{
  background-color: rgb(202, 71, 23);
  }
  

p {
  color: var(--text-color);
}
h1 {
  font-size: var(--title-size-h1);
}
h2 {
  font-size: var(--title-size-h2);
}

h4 {
  font-size: var(--title-size-h4);
}
h1,
h2,
h4 {
  color: var(--title-color);
}


a {
  color: white;
}

/* Estilo base para los botones */
.button {
  display: inline-block;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.danger-button {
  background-color: rgb(197, 64, 16);
  color: #ffffff;
}

.danger-button:hover {
  background-color: rgb(202, 71, 23);
}


