.navbar {
  background-color: #17191d;
  padding: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.containerLinks {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 120px;
  margin-top: 10px;
}

.nameIcon {
  font-size: 12px;
  margin: 8px;
}

.imgLogo {
  width: 65px;
  display: block;
  float: left;
  margin-left: 180px;
}
.link {
  color: #e2e3e7;
  list-style: none;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bolder;
}


.link:hover {
  animation-name: color;
  animation-duration: 100ms;
  animation-fill-mode: forwards;
  transition: all 0.6s ease-in-out;
  transform: translateX(0) translateX(3px);
}
.link.active {
  color: rgb(197, 64, 16);
}
.link {
  transition: all 0.3s ease-in-out;
}

@keyframes color {
  100% {
    color: rgb(197, 64, 16);
  }
}
